.box {
    width: 350px;
    height: 100px;
    background-color: rgb(210, 229, 246);
    padding: 25px 25px;
}

.weather-box {
    width: 45px;
    height: 25px;
    object-fit: cover;
}


.dust-box, .dust-box2 {
    width: 45px;
    height: 25px;
    object-fit: contain;
}

.small-box1 {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-box2 {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
